/* make global font size a bit bigger */
/* I simply like it that way :) */
@media screen and (min-width: 768px) {
    html, body {
        font-size: 1.1em;
    }
}


main article pre {
    font-size: 0.7em;
}

.right {text-align: right;}

img.align-right {
    float:right;
}

img.align-left {
    float:left;
}

img.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Remove horizontal scrollbar from code snippet line numbers */
/* It appears e.g. in Vivaldi browser. */
.linenodiv pre {
    overflow-x: hidden;
}

/* Clear float, used after image aligns to left or right */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.docutils.literal {
    background-color: #ddd;
}

.strike {
    text-decoration: line-through;
}
